.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* turns off annoying number 
arrow thingy in input elements */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}